@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400&display=swap');

ol, ul {
	list-style: none;
}
.header{
    width: 100%;
    margin: auto;

}
.bodyy{
    margin-top: 130px;
}
.container{

    /* background-color:#008000;

   
    display: flex;
    flex-basis: 33.333333%;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: auto;
   
    
}

.travelPlans{
    width: 80%;
    height: 500px;
    /* display: flex; */
    text-align: center;
    border-radius: 15px;
    margin: 0 15px;
    background-color: rgba(219, 226, 219, 0.9);
    opacity: 0.9;
    margin-bottom: 50px;
    margin-top: 20px;
}

.travelPlans:hover{
    width: 82%;
    transition: 0.5s;
    opacity: 1;
}
.place{
    width: 100%;
    height: 45%;
    border-radius: 15px;
}

.planType{
    margin: 10px;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: rgba(0,0,0,0.8);
}

.travelFeatures{
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,0.5);   
}
.travelFeaturesItem{
      margin: 0;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 1.1rem;
      /* line-height: 1.5; */
      padding: 5px;
      border-top: 1px solid #e1f1ff;
      border-radius: 5px;
}
.travelFeaturesItem:last-child{
    border-bottom: 1px solid #e1f1ff;
    border-radius: 15px;

}
.travelPrice{
    color: rgba(0,0,0,0.7);
    margin: 5px;
	display: block;
	font-weight: 600;
	font-size: 1.4rem;
}

.button{
    border: 2px solid #008000;
    font-weight: 600;
    margin: 10px;
	border-radius: 10px;
	color: #006400;
	display: inline-block;
	padding: 5px 15px;
	text-decoration: none;
	transition: all 300ms;
}
.button:hover, .button:focus{
	background-color: #228B22;
    color: #fff;
}

@media (max-width:1000px) {
	.container{
        display: grid;
        grid-template-columns: 1fr 1fr;

	}
    .travelPlans{
        width: 80%;
        margin: 10px 0;
    }
    .travelPlans:hover{
        width: 83%;
        transition: 0.5s;
        opacity: 1;
    }
	
}
@media (max-width:700px) {
	.container{
        display: grid;
        grid-template-columns: 1fr;

	}
    .travelPlans{
        width: 70%;
        margin: 10px 0;
       margin: auto;
       margin-top: 20px;
    }
    .travelPlans:hover{
        width: 73%;
        transition: 0.5s;
        opacity: 1;
    }
	
}